kendo-appbar {
  .title {
    font-size: 18px;
    margin: 0;
    cursor: pointer;
  }
  ul {
    font-size: 14px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  li {
    margin: 0 9px;
  }
  li:hover {
    cursor: pointer;
    color: #d6002f;
  }
  .actions .k-button {
    padding: 0;
  }
  li:focus,
  .title:focus {
    outline: none;
  }
}
kendo-badge-container {
  margin-right: 8px;
}
.active-link {
  color: tomato;
}
