<kendo-appbar [position]="'top'">
  <!-- <kendo-appbar-section>
    <button class="k-button k-button-clear">
      <kendo-icon [name]="'menu'"></kendo-icon>
    </button>
  </kendo-appbar-section> -->

  <kendo-appbar-section>
    <h1 class="title" routerLink="/addemployee">PerformX</h1>
  </kendo-appbar-section>

  <kendo-appbar-spacer [width]="'32px'"></kendo-appbar-spacer>

  <kendo-appbar-section>
    <ul>
      <li routerLinkActive="active-link" routerLink="/addemployee">
        <span>Add Employee</span>
      </li>
      <li routerLinkActive="active-link" routerLink="/employeelist">
        <span>Employee List</span>
      </li>
    </ul>
  </kendo-appbar-section>

  <kendo-appbar-spacer></kendo-appbar-spacer>

  <kendo-appbar-section class="actions">
    <kendo-badge-container>
      <button class="k-button k-button-clear">
        <kendo-icon [name]="'bell'"></kendo-icon>
      </button>
      <kendo-badge
        [shape]="'dot'"
        [themeColor]="'warning'"
        [size]="'small'"
        [position]="'inside'"
      ></kendo-badge>
    </kendo-badge-container>
    <span class="k-appbar-separator"></span>
  </kendo-appbar-section>

  <kendo-appbar-section>
    <kendo-avatar
      [imageSrc]="kendokaAvatar"
      [shape]="'circle'"
      [width]="'26px'"
      [height]="'26px'"
    ></kendo-avatar>
  </kendo-appbar-section>
</kendo-appbar>
<br />
<!-- <kendo-breadcrumb [items]="items"></kendo-breadcrumb> -->
<!-- <button kendoButton [primary]="true">My Kendo UI Button</button> -->

<router-outlet></router-outlet>
