.example-wrap {
  display: flex;
  justify-content: center;
}
.k-form {
  width: 55rem;
}
.k-dropdown .k-dropdown-wrap,
.k-dropdowntree .k-dropdown-wrap {
  background-color: transparent;
  background-image: none;
}
